body{
    background:url('../image/963963963.jpg') no-repeat fixed;
    background-size: cover;
}
.contaner
{
    width: 1270px;
    margin: auto;
}
/*********start class header*******/
.header
{
    margin-bottom: 20px;    
}
.header h1{
    color:red;
    font-family: "Palatino Linotype";
    float:left;
    padding-left: 30px;
    margin-bottom: 32px;
}
.header small{
    color:#444444;
    font-size: small;
}
.header p{
   color:#fff;
   float:right;
   margin-top: 30px;
}
.header p span:nth-of-type(1)
{
    color:#55acee;
}
.header p span:nth-of-type(2)
{    color:#004ced;
}
.header span:hover
{
    color:#3b5998;
}
/************end class header*******/

/************start class navbar******/
.navbar{
    display: inline-block;
    width:100%;
    background-color: #323232;
    color: #fff;
    margin-top: -30px;
}
.navbar ul{
    list-style: none;
    overflow: hidden;
    padding:0;
}
.navbar ul li{
    color:#fff;
    float: left;
    padding-left: 60px;
}
.navbar ul li a{
   color: #bcb9b9;
   text-decoration: none;
}
.navbar ul li.active a
{
    color: #6ade59;
}
.navbar ul li a:hover{
    color: #6ade59;
   
}
 /*********** search *******************/
 
   .navbar .top-search
   {
     float: right;
    margin-top: -38px;
    margin-right: 163px;
 
   }

  
  .navbar .top-search form .sub{
   background-color:#a90c0c;
   color:#fff;
   font-weight: bold;
  border:2px solid #a90c0c;
  cursor: pointer;
  }
  
  .navbar .top-search form .sear{
    margin-left:-6px;
    border-left:0px;  
  }
.log{
    float: right;
    margin-top: -53px;
    margin-right: 90px;
}
.log a{
    color: #bcb9b9;
    text-decoration: none;
}
.log a:hover{
    color: #6ade59;
}
/*********end class navbar**9*/

/************start drobdown*******/
.navbar  .log .dropdown-menu
{
	width: 130px;
    border-top: 0px solid #fffdfd;
    position: absolute;
    margin-left: -61px;
    display: none;
    padding-top: 25.5px;
    width: 150px;
    margin-left: -21px;
}
	
.navbar  .log ul ul li
{
    background-color: #8D0B0B;
    height: 34px;
    width: 145px;
    line-height: 20px;
    border: 0px solid red;
    text-align: left;
    margin-left: 20px;
    padding-left: 0px;
}
	
.navbar  .log ul ul li a{
	padding: 6px 15px;
}
	
.navbar  .log .dropdown-menu .divider
{
	background-color:#2C2B2B;
	height: 3px;
}

.dropdown-menu  li  a:hover, .dropdown-menu  li  a:focus
{
	background-color:#2C2B2B;
	color:#fff;
}

.navbar  .log ul li:hover > .dropdown-menu 
{
	display:block; 
}
/*********end drobdown*******/

/******start class register******/
.register{
    display: inline-block;
    width: 65%;
    height: 585px;
    background: #fff;
    margin:10px 226px;
}
.register .image{
    margin-top: 20px;
}
.register .heading{
    float: left;
    margin-left: 20px;
    font-size: larger;
    font-family: "Algerian";
    color: #c75656;
}
.register .heading h3{
   margin: 31px 102px;
}
.register .img{
     float: right;
     margin: -70px 127px;
}
.register .register-form
{
    border:1px hidden;
    background: #f0efef;
    width: 70%;
    height: 330px;
    padding-top: 20px;
    margin: 100px auto;
}

.register .register-form .form-group{
    margin-top: 10px;
    margin-left: 40px;
}

.register .register-form .model input{
    float: left;
     margin-top: 10px;
     margin-left: 40px;
     width: 41%;
    height: 50px;
    display: block;
    border-radius: 3px;
    background:#fff;
    border-style: solid;
    color:#7F7F7F;
}
.register .register-form .form-group input{
    width: 95%;
    height: 50px;
    display: inline-block;
    border-radius: 3px;
    background:#fff;
    border-style: solid;
    color:#7F7F7F;
}
.register .register-form .form-group textarea{
     width: 95%;
    height: 150px;
     display: inline-block;
    border-radius: 3px;
    background:#fff;
    border-style: solid;
    color:#7F7F7F;
}
.register .register-form .button
{
    margin-left: 80px;
    margin-top: 10px;
    height: 50px;
    width: 21%;
    background: #a90c0c;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}
.register .photo 
{
    margin: -87px 320px;
}
/**********************end class register*******/
